**/.DS_Store
./node_modules
../node_modules
node_modules
**/node_modules
**/.vscode
**/.idea
**/.git
**/.github
**/target
logs
./compose/.DS_Store
autobox.code-workspace
kubernetes/solace/solace-schema-registry
kubernetes/solace/solace-pubsub-monitor
kubernetes/solace/solace_full_chain.crt